{% extends "blog/base.html" %} {% block title %}{{ post.title }}{% endblock %}
{% block content %}
<h1 class="text-dark text-center">{{ post.title | title }}</h1>
<p class="text-secondary text-center">
  Published {{ post.publish }} by {{ post.author }}
</p>
<div class="bg-white p-3 px-md-5">
  <p class="article-text">
    {{ post.body|linebreaks }}
  </p>
</div>

<br />
<br />
<br />
<br />

<div class="actions px-3">
  {% with comments.count as total_comments %}
  <span class="text-secondary">
    {{ total_comments }} comment{{ total_comments | pluralize }}
  </span>
  {% endwith %}
  <a
    class="btn btn-outline-primary mx-3"
    href="{% url 'blog:post_share' post.slug %}"
  >
    Share By Email
  </a>
</div>
<br />

{% for comment in comments %}
<div class="card p-3 rounded">
  <div class="d-flex align-items-center">
    <img
      src="https://png.pngtree.com/svg/20161021/de74bae88b.png"
      alt=""
      class="avatar"
    />
    <div>
      <h6 class="text-primary m-0">
        {{ comment.name | title }}
      </h6>
      <small class="text-secondary">
        {{ comment.created }}
      </small>
    </div>
  </div>

  <p>
    {{ comment.body | linebreaks }}
  </p>
</div>
{% empty %}
<div class="card p-3">
  <p>There are no comments yet.</p>
</div>
{% endfor %}
<br />
<br />

<div class="card p-3 my-3">
  {% if new_comment %}
  <h2>Your comment has been added.</h2>
  {% else %}
  <h4 class="text-primary">Add a new comment</h4>
  <form action="." method="post">
    {{ comment_form.as_p }}
    {% csrf_token %}
    <p>
      <input
        class="btn btn-outline-primary"
        type="submit"
        value="Add comment"
      />
    </p>
  </form>
  {% endif %}
</div>
<br />
<br />
<br />
<br />
{% endblock %}
