{% extends "blog/base.html" %}
{% load blog_tags %}

{% block title %}Bloggy{% endblock %}

{% block content %}
{% if tag %}
  <h3 class="text-secondary">Posts tagged with "{{ tag.name }}"</h3>
{% endif %}

{% for post in posts %}
<div class="card post my-3 rounded">
  <div class="card-body">
    <div class="row">
      <div class="col-8">
        <h4 class="text-primary text-capitalize">
          {{ post.title }}
        </h4>
        {% for tag in post.tags.all %}
        <a class="badge text-secondary badge-light"
           href="{% url 'blog:post_list_by_tag' tag.slug %}">
          #{{ tag.name }}
        </a>
        {% endfor %}
      </div>
      <div class="col">
          <h6 class="text-secondary text-right"> @{{ post.author }}</h6>
      </div>
    </div>
    <div class="pb-4">
      <p class="card-text">
        {{ post.body|markdown|truncatewords_html:17 }}
      </p>
    </div>
    <div class="row">
      <div class="col">
        <a href="{{ post.get_absolute_url }}" class="btn btn-outline-primary btn-sm">
          Read
        </a>
      </div>
      <div class="col text-right">
          <div class="text-secondary">{{ post.publish }}</div>
        </div>
    </div>
    
  </div>
</div>
{% endfor %}

{% include "pagination.html" with page=posts %}

{% endblock %}
